<ion-header>
  <ion-toolbar>
    <ion-title>Maps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container d-flex flex-column align-items-center justify-content-center show-map" id="map">

    <div class="d-flex flex-column align-items-center justify-content-center location-btn bg-secondary p-5 rounded-pill">
        <i class="fa-solid fa-location-crosshairs mb-5"></i>
        <button type="button" class="btn btn-dark mb-5 fs-1 rounded-pill" (click)="loadMap()">¿Dónde Estoy?</button>

    </div>

</div>

</ion-content>
