<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-no-margin">Aviso de privacidad para una aplicación de chat instantáneo de acuerdo a la Ley de Protección de Datos Personales en Posesión de Particulares en México.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<i>
  <div class="content">

    <h1 class="ion-text-center ion-no-margin">
      Esta política de privacidad describe cómo se recopila, utiliza y protege la información personal de los usuarios de la aplicación de tareas desarrollada y distribuida por un desarrollador solitario en Aguascalientes, México.
    </h1>

    <h3 class="ion-text-center ion-no-margin">
      <br>
      -Recopilación de información:
      La aplicación recopila información personal de los usuarios, incluyendo la ubicación, el inicio de sesión y registro de usuarios. Esta información se utiliza para mejorar la experiencia del usuario y para proporcionar servicios personalizados. La información personal se recopila de forma voluntaria por el usuario al registrarse en la aplicación.
      <br>
      <br>
      -Uso de la información:
      La información personal recopilada se utiliza para mejorar la funcionalidad de la aplicación y proporcionar servicios personalizados a los usuarios. También se puede utilizar para proporcionar información sobre actualizaciones de la aplicación y promociones relevantes. La información personal del usuario no será compartida con terceros sin el consentimiento del usuario, a menos que sea requerido por la ley.
      <br>
      <br>
      -Protección de la información:
      El desarrollador de la aplicación tomará todas las medidas razonables para proteger la información personal de los usuarios contra el acceso no autorizado, la modificación o divulgación. La información personal se almacenará en servidores seguros y se protegerá mediante medidas de seguridad físicas, electrónicas y administrativas.
      <br>
      <br>
      -Cambios a la política de privacidad:
      El desarrollador de la aplicación se reserva el derecho de realizar cambios en esta política de privacidad en cualquier momento. Los cambios se publicarán en la aplicación y se notificará a los usuarios por correo electrónico.
      <br>
      <br>
      -Contacto:
      Si tiene alguna pregunta o inquietud sobre esta política de privacidad o sobre la forma en que se maneja la información personal en la aplicación, comuníquese con el desarrollador: martindelacruz@gmail.com, 4491109105.
    </h3>

  </div>

  <div>
    <ion-item lines="none">
      <ion-checkbox [(ngModel)]="permiso" labelPlacement="start"></ion-checkbox>
        &nbsp;
      <ion-label>Aceptar las politicas de seguridad.</ion-label>

      <ion-button  color="warning" href="/auth" [disabled]="!permiso" slot="end" shape="round">
        Aceptar permisos.
      </ion-button>
    </ion-item>
  </div>
</i>

</ion-content>
